<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168497599547-0cb8m9mhemjqjdtj3n54mt91ibkok6hu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168497599547-0cb8m9mhemjqjdtj3n54mt91ibkok6hu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>168497599547-7hima0fqm3sp3ngd746ihh1kvbfs9oq8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXi8l4-biVO_rBqKkOFR1NY3EHt5F0Unk</string>
	<key>GCM_SENDER_ID</key>
	<string>168497599547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cristhdev.platzitrips</string>
	<key>PROJECT_ID</key>
	<string>platzitrips-7a20a</string>
	<key>STORAGE_BUCKET</key>
	<string>platzitrips-7a20a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168497599547:ios:39d0db51ca63d5c341b81e</string>
	<key>DATABASE_URL</key>
	<string>https://platzitrips-7a20a.firebaseio.com</string>
</dict>
</plist>